.u-section-1 .u-sheet-1 {
  min-height: 428px;
}

.u-section-1 .u-text-1 {
  margin: 44px auto 0 71px;
}

.u-section-1 .u-text-2 {
  margin: 20px 828px 0 71px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  margin: -33px 114px 0 785px;
}

.u-section-1 .u-text-4 {
  margin: -105px 828px 0 71px;
}

.u-section-1 .u-text-5 {
  margin: 20px 828px 0 71px;
}

.u-section-1 .u-text-6 {
  margin: 20px 828px 44px 71px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 628px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 14px;
    margin-left: 685px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 628px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 628px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 628px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 408px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 479px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 406px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 23px;
    margin-right: 406px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 406px;
    margin-bottom: 41px;
    margin-left: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 299px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 299px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 299px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 299px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 299px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-right: 99px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 16px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -74px;
    margin-right: 99px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 8px;
    margin-right: 99px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
    margin-right: 99px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 41px 15px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 653px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px auto 0 198px;
}

.u-section-3 .u-image-1 {
  width: 648px;
  height: 513px;
  object-position: 100% 50%;
  margin: -34px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 136px;
  height: 48px;
  margin: -440px auto 0 301px;
}

.u-section-3 .u-text-2 {
  margin: -42px auto 0 35px;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 13px auto 0 35px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-3 .u-image-3 {
  width: 136px;
  height: 85px;
  margin: 61px auto 0 288px;
}

.u-section-3 .u-text-3 {
  margin: -61px auto 0 38px;
}

.u-section-3 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 13px auto 0 38px;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-3 .u-image-4 {
  width: 137px;
  height: 114px;
  margin: 48px auto 0 301px;
}

.u-section-3 .u-text-4 {
  margin: -81px auto 0 35px;
}

.u-section-3 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 13px auto 60px 35px;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-left: 65px;
  }

  .u-section-3 .u-image-1 {
    width: 537px;
    height: 420px;
    margin-top: -43px;
  }

  .u-section-3 .u-image-2 {
    width: 94px;
    height: 33px;
    margin-top: -339px;
    margin-left: 273px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -34px;
    margin-left: 26px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-left: 41px;
  }

  .u-section-3 .u-image-3 {
    width: 97px;
    height: 61px;
    margin-top: 34px;
    margin-left: 272px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -49px;
    margin-left: 26px;
  }

  .u-section-3 .u-image-4 {
    width: 94px;
    height: 80px;
    margin-top: 9px;
    margin-left: 275px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -58px;
    margin-left: 26px;
  }

  .u-section-3 .u-social-icons-3 {
    margin-bottom: 56px;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    width: 141px;
    height: 50px;
    margin-top: 86px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -117px;
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 100px;
    margin-left: 67px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -106px;
    margin-left: 276px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -122px;
    margin-left: 241px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: 100px;
    margin-left: 310px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -126px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: -122px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-social-icons-3 {
    margin: 100px 97px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 4px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -36px;
    margin-left: 11px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -39px;
    margin-right: 210px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -36px;
    margin-left: 17px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: -32px;
    margin-right: 210px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 29px;
    margin-right: 42px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -47px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-3 .u-social-icons-3 {
    margin-top: -36px;
    margin-right: 210px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 266px;
  }

  .u-section-3 .u-image-2 {
    width: 119px;
    height: 42px;
    margin-top: 24px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -35px;
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 41px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -53px;
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 35px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -54px;
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-3 {
    margin: 12px auto 60px 16px;
  }
}