.u-section-1 .u-sheet-1 {
  min-height: 118px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 7px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 416px;
}

.u-section-2 .u-gallery-1 {
  height: 414px;
  width: 570px;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -394px 570px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px 570px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 30px 570px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px auto 24px 196px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-2 .u-gallery-1 {
    height: 392px;
    width: 470px;
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-9 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-10 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-11 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-12 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-13 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-14 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-15 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-16 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-17 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-18 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-19 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -364px;
    margin-right: 440px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 470px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 9px;
    margin-right: 470px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 14px;
    margin-bottom: 9px;
    margin-left: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 570px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 470px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-right: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 416px;
}

.u-section-3 .u-gallery-1 {
  height: 416px;
  width: 570px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: -393px 0 0 570px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 22px 0 0 570px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 29px 0 0 570px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 196px 29px auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-3 .u-gallery-1 {
    height: 398px;
    width: 470px;
  }

  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -363px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 7px;
    margin-left: 470px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 16px;
    margin-right: 146px;
    margin-bottom: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -4px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 416px;
}

.u-section-4 .u-gallery-1 {
  height: 414px;
  width: 557px;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: -395px 570px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 4px 570px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 56px 584px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 39px auto 44px 196px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-4 .u-gallery-1 {
    height: 395px;
    width: 470px;
  }

  .u-section-4 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-4 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-4 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -369px;
    margin-right: 470px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 470px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 6px;
    margin-right: 470px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 28px;
    margin-bottom: 60px;
    margin-left: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: 228px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 15px;
    margin-right: 56px;
    margin-left: 94px;
  }

  .u-section-4 .u-text-3 {
    width: 470px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 418px;
}

.u-section-5 .u-gallery-1 {
  height: 416px;
  width: 570px;
  margin: -4px auto 0 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: -392px 0 0 570px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 5px 0 0 570px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 42px 0 0 570px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 55px 198px 42px auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    width: 470px;
    margin-top: 3px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -340px;
    margin-right: 83px;
    margin-left: 541px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 71px;
    margin-left: 529px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 12px;
    margin-right: 140px;
    margin-left: 607px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 12px;
    margin-right: 147px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    margin-top: -4px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: 400px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
    margin-right: 50px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 416px;
}

.u-section-6 .u-gallery-1 {
  height: 416px;
  width: 570px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: -397px 570px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 8px 570px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 37px 570px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 33px auto 0 196px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-6 .u-gallery-1 {
    height: 391px;
    width: 470px;
  }

  .u-section-6 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-6 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-6 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -366px;
    margin-right: 420px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 420px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 7px;
    margin-right: 395px;
    margin-left: -25px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 25px;
    margin-bottom: 60px;
    margin-left: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-6 .u-gallery-1 {
    margin-right: 94px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 18px;
    margin-right: 69px;
    margin-left: 131px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 17px;
    margin-right: 44px;
    margin-left: 106px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 17px;
    margin-right: 99px;
    margin-left: 161px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 18px;
    margin-right: 240px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    margin-top: -4px;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 27px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 11px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 22px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 27px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-gallery-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}